<!-- ==============================================
	BODY CONTENT
	=============================================== -->
<div id="image-poster"></div>

<div class="main_div">

  <div class="messages">
    <h2>You want <strong>pizza</strong></h2>
    <h2>I want <strong>pizza</strong></h2>
    <h2>We all want <strong>pizza</strong></h2>
    <h2><strong>Pizza</strong> for life!</h2>
  </div>

  <div class="main_content">
    <p class="intro"><strong>Who Wants Pizza?</strong>
      <br/>Sign up to create events and get push notifications</p>
    <div id="mc_embed_signup">
      <form id="mc-form">
        <input id="mc-email" type="email" placeholder="Type your email..." class="form-control subs-input">
        <button type="submit" class="btn btn-default subs-submit">send</button>
        <label for="mc-email"></label>
      </form>
    </div>
    <ul class="footer-social">
      <li>
        <a href="#" class="facebook" title="Facebook" aria-hidden="true" data-icon="&#xe093;"></a>
      </li>
      <li>
        <a href="#" class="twitter" title="Twitter" aria-hidden="true" data-icon="&#xe094;"></a>
      </li>
      <li>
        <a href="#" class="skype" title="Skype" aria-hidden="true" data-icon="&#xe0a2;"></a>
      </li>
      <li>
        <a href="#" class="pinterest" title="Pinterest" aria-hidden="true" data-icon="&#xe095;"></a>
      </li>
      <li>
        <a href="#" class="instagram" title="Instagram" aria-hidden="true" data-icon="&#xe09a;"></a>
      </li>
      <li>
        <a href="#" class="googleplus" title="Google Plus" aria-hidden="true" data-icon="&#xe096;"></a>
      </li>
    </ul>
  </div>

</div>
