<div id="evenForm">
  <h2>Create an Event</h2>
  <input id="name" type="text"></input>
  <input id="location" type="text"></input>
  <input id="data" type="text"></input>
  <input id="details" type="text"></input>
  <button id="submit">Submit</button>
</div>
