<div id="evenForm">
  <h2>Create an Event</h2>
  <input id="name" type="text"></input>
  <input id="description" type="text"></input>
  <input id="datetime" type="text"></input>
  <input id="location" type="text"></input>
  <input id="tag" type="text"></input>
  <button id="submit">Submit</button>
</div>
