<!-- <head> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2//css/theme-css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.css' rel='stylesheet' />
  <link href="//css/theme-css/video.css" rel="stylesheet" type="text/css">
  <link href="//css/theme-css/app.css" rel="stylesheet" type="text/css">
  <link rel="manifest" href="manifest.json">

  <script src="/js/jquery-1.12.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.js'></script>
  <script src="/js/video.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/app.js"></script> -->
<!-- </head> -->

<head>

  <!-- ==============================================
	TITLE AND BASIC META TAGS
	=============================================== -->
  <meta charset="utf-8">
  <title>#Free</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="ODU Team 2">

  <!-- ==============================================
	MOBILE METAS
	=============================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ==============================================
	CSS
	=============================================== -->
  <link rel="stylesheet" href="/css/theme-css/bigvideo.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/theme-css/elegant.css" type="text/css" />
  <link rel="stylesheet" href="/css/theme-css/style.css" type="text/css" media="screen" />
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.css' rel='stylesheet' />
  <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

  <!-- ==============================================
	FONTS
	=============================================== -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- ==============================================
	JS
	=============================================== -->
  <script type="text/javascript" src="/js/theme-js/device.min.js"></script>

  <!-- ==============================================
	FAVICONS
	=============================================== -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon/apple-touch-icon-144-precomposed.html">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicon/apple-touch-icon-114-precomposed.html">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicon/apple-touch-icon-72-precomposed.html">
  <link rel="apple-touch-icon-precomposed" href="/images/favicon/apple-touch-icon-57-precomposed.html"> -->
  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
</head>
