	<!-- ==============================================
	HEADER
	=============================================== -->
	<div class="header_container">
		<a href="/" class="header_logo" title="">
			<!-- <h1>#Free</h1> -->
			<img style="max-height: 50px;" src="/images/hashtagfree-logo-black-short.png" />
		</a>
		<span style="padding-top:20px;padding-left:10px;float:left">Helping students find food.</span>
		<a class="map_button" id="map_button" title="">
			<span aria-hidden="true" data-icon="&#xe01d;"></span>
		</a>
		<a class="menu_button" id="menu_button" title="">
			<span aria-hidden="true" data-icon="&#x50;"></span>
		</a>
	</div>
