<div class="newEventForm" style="position:absolute;top:0;left:0;z-index:99" hidden>
  <h1>Add a new event</h1>
  <div>
    <input placeholder="Name"/>
    <textarea placeholder="description"></textarea>
  </div>
</div>


<style>
.newEventForm {
  background-color: #F8f8f8;
}

.newEventForm input, .newEventForm textarea {
  display: block;
}
</style>
