	<!-- ==============================================
	NAV CONTENT
	=============================================== -->
	<div class="nav_container" id="nav_container">

		<a class="nav_contact" id="nav_contact" title="">
			<p><span aria-hidden="true" data-icon="&#x002b;"></span><br/>ADD AN EVENT</p>
		</a>

		<a class="nav_about" id="nav_about" title="">
			<p><span aria-hidden="true" data-icon="&#xe08b;"></span><br/>ABOUT US</p>
		</a>

		<div class="nav_content_container">

			<div class="nav_about_content">
				<h3>ABOUT US TEAM HASHTAG</h3>
				<hr>
				<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor enim non purus tincidunt vulputate. Maecenas luctus tellus nec molestie bibendum.</h4>
				<img src="https://placehold.it/500x300" alt="Image about us" />
				<p>Curabitur pellentesque urna in velit viverra, in euismod nunc egestas. Morbi rutrum tellus et metus molestie facilisis. Duis porttitor nisl sagittis, malesuada leo sit amet, porttitor urna. Quisque lacinia hendrerit lectus, vitae gravida urna tincidunt a.</p>
			</div>

			<div class="nav_contact_content">
				<h3>GIVE PIZZA</h3>
				<hr>
				<p>and move mountains</p>
				<ul>
					<!-- <li><p><span aria-hidden="true" data-icon="&#xe00b;"></span> +1 (123) 4567890</p></li>
					<li><p><span aria-hidden="true" data-icon="&#x76;"></span> info@example.com</p></li>
					<li><p><span aria-hidden="true" data-icon="&#xe01d;"></span> Gris Agency. Direction 1234, The City.</p></li> -->
				</ul>
				<form action="#" id="contactform">
        	<input type="text" id="eventName" name="eventName" placeholder="Name">
					<select id="eventLocation" name="eventLocation">
						<option value="dragas">Dragas</option>
						<option value="webb">Webb</option>
						<option value="kaufman">Kaufman</option>
						<option value="constant hall">Constant Hall</option>
						<option value="ted constant center">Ted Constant Center</option>
						<option value="visual arts center">Visual Arts Center</option>
						<option value="education center">Education Center</option>
						<option value="tap room">Tap Room</option>
					</select>
					<input type="date" name="eventDate" id="eventDate" placeholder="Date" value="<%= new Date%>"/>
					<input type="time" name="eventTime" id="eventTime" placeholder="Time" />
					<br>
					<br>
					<textarea id="eventDescription" name="eventDescription" cols="35" rows="5" placeholder="Description"></textarea>
					<button id="create" type="submit" value="Create">Create</button>
				</form>
			<p class="success-message-2"></p>
            <p class="error-message-2"></p>
			</div>
			<a class="nav_about_close" id="nav_about_close" title=""><span aria-hidden="true" data-icon="&#x4d;"></span></a>
		</div>

	</div>
