<video autoplay muted poster="/vids/dronePreview.png" id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="/vids/droneFootage.mp4" type="video/mp4">
</video>
<div class="container-fluid">
  <h1>#Free</h1>
  <a class="btn btn-default" href="/map">Find Food</a
</div>
