<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <script src="/js/jquery-1.12.0.min.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.js'></script>
	<script src='/js/map.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.css' rel='stylesheet' />
	<style>
		body {emargin:0; padding:0; }
		#map { position:absolute; top:0; bottom:0; width:100%; }
            .layer1 {position:relative; z-index: 2;}

	</style>
</head>

<body>
  <div id="map"></div>
  <div class="container">
      <div class="row">
          <div class="card col-md-4">
              <img class="card-img-top" src="/images/pizza.png" style="width: 100%;" alt="Card image cap">
              <div class="card-block">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Button</a>
              </div>
          </div>
      </div>
  </div>

</body>
</html>
