<html>
<%- include partials/head %>

  <body>
    <div id="events" hidden></div>
    <div id="map"></div>
    <!-- <div class="card-container">
      <div class="container-img">
        <img src="/images/pizza.svg">
      </div>

      <div class="arrow_box container" id="info">
        <h1>Title</h1>
        <ul class="list-unstyled">
          <li>
            <span class="glyphicon glyphicon-time"></span> Time
          </li>
          <li>
            <span class="glyphicon glyphicon-map-marker"></span> Location
          </li>
          <p>Description</p>
          <button class="btn btn-default" id="hashtag" type="submit">#tags</button>
      </div>
    </div> -->

  </body>

</html>
